body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial;

background:#111;

color:white;

}


.card,
.dashboard{

width:350px;

padding:25px;

border-radius:20px;

background:#1c1c1c;

box-shadow:
0 0 20px #ff00ff;

text-align:center;

}



button{

width:90%;

padding:14px;

margin:10px;

border:none;

border-radius:10px;

cursor:pointer;

background:#ff00ff;

color:white;

font-size:16px;

}



.github-box{

margin-top:20px;

padding:15px;

border-radius:15px;

background:#222;

}



.menu{

margin-top:20px;

}

.panel{

width:400px;

padding:25px;

background:#151515;

border-radius:20px;

box-shadow:0 0 25px #ff00ff;

}



.box{

margin:15px 0;

padding:15px;

background:#222;

border-radius:15px;

}



.drop{

padding:30px;

border:2px dashed #ff00ff;

border-radius:15px;

text-align:center;

}



select{

width:90%;

padding:12px;

border-radius:10px;

}
